# Basic ones
/coverage
/node_modules
/.env

# Generated types
*.d.ts
*.d.ts.map

# Test artifacts
/junit-report.xml

# Screenshots
*.png
*.jpeg

# Playwright
.playwright-mcp/

# App specific ones
# We commit package-lock.json for reproducible app deployments.
